.App-header {
    background-color: #ffffff;
    min-height: 64;
    font-size: calc(10px + 2vmin);
    color: white;
  }

  .Header-section {
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #bebebe70;
  }

  input[type="text"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    width: 50vh;
    height: 42px;
    padding: 0 10px;
    color: #000;
    border: 1px solid #BEBEBE;
    border-radius: 2px 0 0 2px;
  }

  input:focus {
    border: 1.1px solid #1c62b9;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.4);
  }