.timeline {
    position: relative;
    background-color: white;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 15px;
    background-color: 	#FF0000;
    top: 0;
    bottom: 0;
    left: 50%;
}

.timePoint {
    height: 10px;
    width: 10px;
    background-color: #282828;
    outline: 10px solid red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    z-index: 1;
}

.timePoint > span {
    top: -10px;
    width: 80px;
    font-size: 14px;
    padding: 5px 5px 5px 5px;
    position: absolute;
    background-color: #e5e5e5;
    border-radius: 10px;
    border: 1px solid #c2c2c2;
    user-select: none;
}

.container-left > .timePoint > span {
    left: 30px;
}
.container-right > .timePoint > span {
    right: 30px;
}

.container-left > .timePoint {
    left: calc(100% + 32px);
}

.container-right > .timePoint {
    right: calc(100% + 57px);
}

.container-right, .container-left {
    position: relative;
    margin: 15px 10px 15px 10px;
    padding: 10px 10px 10px 10px;
    background-color: #282828;
    border-radius: 20px;
    width: 300px;
    text-align: center;
}

.container-left {
    left: calc(50% - 300px - 15px - 15px - 30px);
}

.container-right {
    left: calc(50% + 15px + 15px + 30px);
}

.event > p, .event > h4 {
    color: white;
}

a > h4 {
    color: white;
}

a {
    color: white;
}

.event > p {
    background-color: #FF0000;
    border-radius: 10px;
    color: black;
    border: 1px solid #c2c2c2;
    background-color: #e5e5e5;
}

iframe {
    width: 90%;
    height: 90%;
    border-radius: 10px;
    margin: 10px 10px 10px 10px;
}